fieldset {
    font-family: cursive;
    width: fit-content;
    text-align: left;
    font-size: large;
    color: black;
    border-color: blue;
}

body {
    background-color: aliceblue;
}

img {
    width: 200px;
    height: 200px;
    top: 5px; 
    right: 10px;
    position: absolute;
}

h1 {
    text-align: center;
    font-family: cursive;
}

#lista {
    font-weight: bold;
    text-align: left;
    font-size: medium;
}

li {
    margin-top: 40px;
}

button {
    background-color: lightblue;
    border: 2px solid black;
    color: blue;
    padding: 10px 24px; 
    cursor: pointer; 
    font-weight: bold;
    border-radius: 30px;
}

#btnModifica {
    background-color: yellow;
    color: black;
    border-radius: 30px;
    padding: 10px 20px; 
    border: 2px solid black;
    text-decoration: none;
    width: 100px;
}

#btnElimina {
    background-color: red;
    color: white;
    border-radius: 30px;
    padding: 10px 20px; 
    border: 2px solid black;
    text-decoration: none;
    width: 100px;
}